.intro {
	@include full-screen;
	@include background(url(../images/background.jpg) no-repeat center center);
	background-size: cover;
	color: $color-white;
	text-align: center;

	h3 {
		font-family: $body-font;
		font-size: em(24px);
		font-style: italic;
		opacity: 0.75;
	}

	h1 {
		font-family: $title-font;
		@include font-sw(em(108px), 700);
		text-transform: uppercase;
	}

	a {
		@extend %button;
	}
}